.sidebar {
    position: fixed;
    width: 300px; /* Ancho fijo en lugar de porcentaje para mejor consistencia */
    height: 100vh;
    top: 0;
    left: 0;
    background: #121212;
    overflow-y: auto;
    z-index: 1000; /* Asegura que el sidebar esté por encima de otros elementos */
}

.sidebar-item {
    transition: all 0.3s ease; /* Simplifica las transiciones */
    background-color: #000;
    padding: 0.75rem 1rem;
}

.sidebar-item:hover {
    background-color: rgba(255, 215, 0, 0.3) !important;
    transform: translateX(5px);
    cursor: pointer;
}

.logo {
    width: 220px;
    height: auto;
    margin: 1rem 0;
}

/* Clases utilitarias */
.text-gold {
    color: gold;
}

.card {
    border-radius: 15px;
}