<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-3 bg-dark min-vh-100 p-0 sidebar">
            <div class="text-center py-4">
                <img src="assets/osadia.png" alt="Logo" class="logo">
            </div>

            <!-- Menú de navegación -->
            <div class="list-group list-group-flush">
                <a *ngFor="let item of lista" 
                   class="list-group-item list-group-item-action bg-dark text-white border-0 py-3 sidebar-item"
                   [routerLink]= "item.route"
                   routerLinkActive="router-link-active"
                >
                    <div class="d-flex align-items-center fs-5 ps-3">
                        {{item.name}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
