.sidebar-width{
    width: 200px;
}

.sidebar-item {
    transition: background-color 0.3s ease, transform 0.2s ease;
    background: black;
}

.sidebar-item:hover {
    /* background-color: #343a40; */
    background: rgba(255, 215, 0, 0.3) !important;
    transform: translateX(5px);
    cursor: pointer;
}

.sidebar {
    background: #121212;
}

.text-gold {
    color: gold;
}

.logo {
    width: 220px;
}

.card {
    border-radius: 15px;
}
