<main>
    <div class="bg-dark text-white p-3">
        <h1 class="text-center">OSADIA BAR & BEER</h1>
    </div>

    <nav class="position-fixed start-0 bg-dark text-white vh-100 p-5 fs-5 sidebar">
        <a class="d-block text-white text-decoration-none py-2">Inicio</a>
        <a class="d-block text-white text-decoration-none py-2">Productos</a>
        <a class="d-block text-white text-decoration-none py-2">Historial</a>
        <a class="d-block text-white text-decoration-none py-2">Contacto</a>
    </nav>
      

    <div>
        <app-product-list></app-product-list>
    </div>
</main>
